@model Volvox.Helios.Web.ViewModels.Analytics.ChatTrackerViewModel

@{
    ViewData["Title"] = "ChatTracker";
}

<h2>ChatTracker</h2>
<hr />

Message Count: @Model.Messages.Count

Unique Posters: @Model.UniqueUsers