@model Volvox.Helios.Web.ViewModels.Analytics.AnalyticsViewModel

@{
    ViewData["Title"] = "Analytics";
}

<div class="container">
    <h2>Analytics</h2>
    <hr />

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                ChatTracker
            </h5>
            <p class="card-text">
                Total Messages: @Model.ChatTracker.Messages.Count
                <br />
                Unique Posters: @Model.ChatTracker.UniqueUsers
            </p>
        </div>
    </div>
</div>