@model ulong

@{
    ViewData["Title"] = "Home";
}

<h2>Settings</h2>
<hr/>

<div class="row">
    <div class="col-sm">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Stream Announcer <a style="color: black" class="float-right" asp-controller="Settings" asp-action="StreamAnnouncerSettings"><i class="fas fa-cog"></i></a></h5>
                <p class="card-text">Announce to a specific channel when a user starts streaming to Twitch.</p>
                
            </div>
        </div>
    </div>
</div>