@model Volvox.Helios.Web.ViewModels.Settings.StreamAnnouncerSettingsViewModel
@{
    ViewData["Title"] = "Stream Announcer Settings";
}

<h2>Stream Announcer Settings</h2>
<hr />

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GuildId"></label>
                <select onchange="getGuildChannels(this.value)" asp-for="GuildId" class="form-control" asp-items="Model.Guilds">
                    <option selected disabled hidden>Please select one</option>
                </select>
                <span asp-validation-for="GuildId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChannelId"></label>
                <select id="channels" class="form-control" disabled></select>
                <span asp-validation-for="ChannelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
    <script>
        function getGuildChannels(guildId) {
            const channelsElement = $('#channels');

            channelsElement.empty();

            channelsElement.append('<option selected="true" disabled hidden>Select a channel</option>');
            channelsElement.prop('selectedIndex', 0);
            channelsElement.prop('disabled', false);

            const url = `/Settings/GetGuildChannels?guildId=${guildId}`;

            $.getJSON(url, function (data) {
                $.each(data, function (key, entry) {
                    channelsElement.append($('<option></option>').attr('value', entry.id).text(entry.name));
                })
            });
        }
    </script>
}