@model Volvox.Helios.Web.ViewModels.Settings.StreamAnnouncerSettingsViewModel
@{
    ViewData["Title"] = "Stream Announcer Settings";
}

<h2>Stream Announcer Settings</h2>

<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div style="display:flex;" class="form-group">
                <label asp-for="Enabled" style="margin: 0 20px 0 0;" class="font-size-small"></label>
                <label class="switch" />
                <input asp-for="Enabled" type="checkbox" />
                <div class="slider round"></div>
                <span asp-validation-for="Enabled" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ChannelId"></label>
                <select asp-for="ChannelId" asp-items="Model.Channels" id="channels" class="form-control"></select>
                <span asp-validation-for="ChannelId" class="text-danger"></span>
            </div>

            <div class="form-check form-group">
                <input asp-for="ChannelSettings.Enabled" class="form-check-input" />
                <label asp-for="ChannelSettings.Enabled" class="form-check-label"></label>
                <span asp-validation-for="ChannelSettings.Enabled" class="text-danger"></span>
            </div>
<<<<<<< HEAD

            <div class="form-check form-group">
                <input asp-for="ChannelSettings.RemoveMessages" class="form-check-input" />
                <label asp-for="ChannelSettings.RemoveMessages" class="form-check-label"></label>
                <span asp-validation-for="ChannelSettings.RemoveMessages" class="text-danger"></span>
=======
            <div class="form-group form-check">
                <input asp-for="RemoveMessages" class="form-check-input" />
                <label asp-for="RemoveMessages" class="form-check-label"></label>
                <span asp-validation-for="RemoveMessages" class="text-danger"></span>
>>>>>>> origin/master
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        getChannelSettingsAnnouncer = function (guildId, channelId) {
            const url = `/api/GetChannelSettingsAnnouncer?guildId=${guildId}&channelId=${channelId}`
            return $.ajax({
                type: 'GET',
                cache: false,
                url: url
            }).done(function (response) {
                return response;
            });
        }

        $("#channels").on('change', function () {
            var channelId = $('#channels').val();
            var guildId = '@Model.GuildId';

            $.when(getChannelSettingsAnnouncer(guildId, channelId)).done(function (response) {
                $('#ChannelSettings_Enabled').prop('checked', response.enabled);
                $('#ChannelSettings_RemoveMessages').prop('checked', response.removeMessages)
            });
        });
    </script>
}