::selection{
  color: white;
  background: black;
}

body {
  background-color: var(--color-dark);
  color: var(--color-gray);
}

.navbar {
  background: var(--color-deep-dark);
}

.card-img-top.bg-gray {
  background: #3f3f3f;
}

hr{
  border-color: var(--color-gray2);
}

.card {
  background-color: var(--color-deep-dark);
}

.dx-tag-content{
  background: var(--color-dark2);
  color: #ddd;
}

.dx-tagbox .dx-texteditor-container {
  background: var(--color-deep-dark);
}

.dx-texteditor-input {
  background: var(--color-deep-dark);
  color: var(--color-gray2);
}
.dx-texteditor.dx-editor-outlined {
  background: none;
  border-color: #797878;
}
.dx-overlay-content.dx-popup-normal {
  background: var(--color-dark);
  border: 0;
}
.dx-overlay-content.dx-popup-normal .dx-item.dx-list-item {
  background: #333;
  color: var(--color-gray);
}
.dx-overlay-content.dx-popup-normal .dx-item.dx-list-item.dx-list-item-selected {
  background: var(--color-deep-dark);
}
.dx-overlay-content.dx-popup-normal .dx-item.dx-list-item.dx-list-item-selected.dx-state-hover{
  background: var(--color-gray2)
}

.dx-overlay-content.dx-popup-normal .dx-item.dx-list-item.dx-state-hover {
  background: var(--color-volvox);
}

.dx-datagrid{
  background-color: var(--color-deep-dark);
  color: var(--color-gray);
}
.dx-datagrid-headers {
  border-bottom: inherit;
}
.dx-datagrid-headers, .dx-datagrid-rowsview {
  border-color: var(--color-dark2) !important;
}
.dx-datagrid .dx-column-lines > td {
  border-color: var(--color-dark2);
}

.module-enabler.disabled {
  background: var(--color-deep-dark);
  cursor: pointer;
  z-index: inherit !important;
}

.list-group-item{
  background: var(--color-deep-dark);
}

.dropdown-menu.show{
  background: var(--color-deep-dark);
  border-color: var(--color-gray2);
}

.dropdown-menu.show a{
  color: var(--color-gray);
}

.dropdown-menu.show a:hover {
  background: var(--color-dark);
}

.material-input {
  background: var(--color-deep-dark) !important;
  border-color: #797878;
  color: var(--color-gray2) !important;
}

.gentleselect-dialog {
  background: var(--color-deep-dark) !important;
}

.border-gray2{
  border-color: var(--color-dark2) !important
}

.gentleselect-label {
  color: white !important;
}

.sliding-border .info-btn {
  color: var(--color-gray);
}

footer {
  background: var(--color-deep-dark);
}



/*Leaderboards*/
.leaderboards .card:first-child .leader::before {
  background-image: linear-gradient(to top left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 45%, rgba(255, 255, 255, .2) 48%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 52%, rgba(255, 255, 255, 0) 57%, rgba(255, 255, 255, 0) 100%);
}
.leaderboards .points {
  background: var(--color-deep-dark);
}
