::selection{
  color: white;
  background: var(--color-dark);
}

body {
  background-color: var(--color-dark);
  color: var(--color-gray);
}

.navbar {
  background: var(--color-deep-dark);
}

.card-img-top.bg-gray {
  background: #3f3f3f;
}

hr{
  border-color: #535353;
}

.card {
  background-color: var(--color-deep-dark);
}

.dx-texteditor-input {
  background: var(--color-deep-dark);
  color: var(--color-gray2);
}
.dx-texteditor.dx-editor-outlined {
  border-color: #797878;
}
.dx-overlay-content.dx-popup-normal {
  background: var(--color-dark);
  border: 0;
}
.dx-overlay-content.dx-popup-normal .dx-item.dx-list-item {
  background: #333;
  color: var(--color-gray);
}
.dx-overlay-content.dx-popup-normal .dx-item.dx-list-item.dx-list-item-selected {
  background: var(--color-gray2);
}
.dx-overlay-content.dx-popup-normal .dx-item.dx-list-item.dx-state-hover {
  background: var(--color-volvox);
}

.module-enabler.disabled {
  background: var(--color-deep-dark);
  cursor: pointer;
  z-index: inherit !important;
}

.list-group-item{
  background: var(--color-deep-dark);
}

.dropdown-menu.show {
  background: var(--color-deep-dark);
  border-color: #535353;
}

.dropdown-menu.show a{
  color: var(--color-gray);
}

.dropdown-menu.show a:hover {
  background: var(--color-dark);
}

.material-input {
  background: var(--color-deep-dark) !important;
  border-color: #797878;
  color: var(--color-gray2) !important;
}

.gentleselect-dialog {
  background: var(--color-deep-dark) !important;
}

.material-table {
  background: var(--color-deep-dark);
}
  .material-table td {
    border-top: 1px solid #25292d;
  }

  .material-table .material-checkbox a {
    color: white;
  }

.breadcrumb-wrapper {
  background: rgba(0,0,0,.5);
}

.module-input-wrapper{
  border: 2px solid #535353;
}

footer {
  background: var(--color-deep-dark);
}
