body {
  background-color: var(--color-dark);
  color: var(--color-gray);
}

.navbar {
  background: var(--color-deep-dark);
}

.card-img-top.bg-gray {
  background: #3f3f3f;
}

hr{
  border-color: var(--color-gray2);
}

.card {
  background-color: var(--color-deep-dark);
}

footer{
  background: var(--color-deep-dark);
}
