::selection {
  color: white;
  background: var(--color-dark2);
}

.module-enabler{
  border-color: var(--color-gray2);
  color: var(--color-gray2);
  cursor: pointer;
}

.sliding-border .info-btn{
  color: var(--color-deep-dark);
}

footer{
  background: #eee;
}
