::selection {
  color: white;
  background: var(--color-dark2);
}

.module-enabler{
  border-color: var(--color-gray2);
  color: var(--color-gray2);
  cursor: pointer;
}

.sliding-border .info-btn{
  color: var(--color-deep-dark);
}

footer{
  background: #eee;
}

/*Leaderboards*/
.leaderboards .card:first-child .leader::before {
  background-image: linear-gradient(to top left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 45%, rgba(0, 0, 0, .2) 48%, rgba(0, 0, 0, .2) 50%, rgba(0, 0, 0, .2) 52%, rgba(0, 0, 0, 0) 57%, rgba(0, 0, 0, 0) 100%);
}
.leaderboards .rank {
  color: white;
}
