.module-enabler{
  border-color: var(--color-gray2);
  color: var(--color-gray2);
  cursor: pointer;
}

.material-table {
  background: var(--color-gray);
}
  .material-table td{
    border-top: 1px solid var(--color-gray2);
  }
  
  .material-table .material-checkbox a {
    color: var(--color-deep-dark);
  }

.breadcrumb-wrapper {
  background: var(--color-gray);
}

.module-input-wrapper{
  border: 2px solid var(--color-gray);
}

footer{
  background: #eee;
}
