
#wrapper {
    display: flex;
    align-items: stretch;
    width: 100%;
}

#serverbar {
    min-width: 84px;
    max-width: 84px;
    padding-left: 10px;
    padding-top: 5px;
    background: #202225;
}

#modulebar {
    min-width: 200px;
    max-width: 200px;
    padding-left: 10px;
}

li.Server-Icons {
    list-style-type: none;
}

#sidebar.active {
    margin-left: -74px; 
}

#content {
    padding-left: 15px;
    padding-right: 15px;
}

.img-server-icon {
    width: 64px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 50%;
}

.color-enabled {
    background: #43b581;
}

.color-disabled {
    background: #f04747;
}