/************ CSS Variables ***********/
:root {
  --color-volvox: #5DCC32;
  --color-skyblue: #26B2FF;
  --color-dark: #2D2F32;
  --color-deep-dark: #121111;
  --color-gray: #EAEAEA;
  --color-gray2: #B2B2B2;
}

/*************** Reset ****************/
a:focus, a:active, a:visited, button:focus, button:active, button:visited{
  outline: 0;
}


/************** General ***************/
html, body{
  height: 100%;
}
body {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}
.valign {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.bg-mat-dark{
  background: var(--color-dark);
}
.bg-gray2 {
  background: var(--color-gray2);
}
.text-gray2 {
  color: var(--color-gray2);
}
.border-gray2 {
  border-color: var(--color-gray2);
}
.bg-gray {
  background: var(--color-gray);
}
.border-volvox {
  border-color: var(--color-volvox);
}

.text-volvox {
  color: var(--color-volvox);
}

a.text-volvox:hover {
  color: #559a3a;
}
a:hover{
  text-decoration: none;
}

.bg-volvox {
  background: var(--color-volvox);
}

.bg-skyblue {
  background: var(--color-skyblue);
}

.text-skyblue {
  color: var(--color-skyblue);
}

.border-skyblue {
  border-color: var(--color-skyblue);
}
.btn-volvox-outline{
  border: 1px solid var(--color-volvox);
  color: var(--color-volvox);
  background: none;
}

.btn-volvox-outline:hover {
  background: var(--color-volvox);
  color: white;
}

.material-btn-group .btn {
  border-radius: 1.25rem;
}
.material-btn-group .active{
  background: var(--color-volvox);
  color: white;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    margin-top: 25px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.black-icon {
  color: black;
}

/*****************************************/

/************** Home Page ***************/

.home-page-banner {
  width: 300px;
}

/*****************************************/

/**************** Margins ****************/
.vertical-margin-large {
    margin: 40px 0;
}

.vertical-margin-medium {
    margin: 20px 0;
}

.small-margin-right {
  margin: 0 20px 0 0;
}

/*****************************************/

/********** Varying font sizes ***********/

.font-size-massive {
    font-size:150px;
}

.font-size-large {
    font-size: 60px;
}

.font-size-medium {
    font-size: 30px;
}

.font-size-small {
    font-size: 20px;
}

.font-size-tiny {
    font-size: 12px;
}

/*****************************************/

.home-page-cards {
    margin-top: 30px;
}

.home-page-cards .card-body {
  border-bottom: 5px solid var(--color-volvox);
  border-radius: 0 0 2px 2px;
}

/************ Toggle Switch *************/

.switch {
  display: inline-block;
  height: 26px;
  position: relative;
  width: 50px;
}

.switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .2s;
}

.slider:before {
  background-color: #fff;
  bottom: 3px;
  content: "";
  height: 20px;
  left: 4px;
  position: absolute;
  transition: .2s;
  width: 20px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*****************************************/

/************ Guild Dropdown *************/

.dropdown-image-small {
  height: 32px;
  width: 32px;
  margin-right: 8px;
  border-radius: 3px;
  border: 2px rgba(0,0,0,.15) solid;
}

.dropdown-item-container {
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}

/*****************************************/

/*************** Dashboard ***************/

.dashboard-guild-image {
  height: 24px;
  width: 24px;
}
#serverAccordion .card {
  border-bottom: 1px solid rgba(0, 0, 0, .125);
  border-radius: .25rem;
}

.card-title {
  word-break: break-all;
}
/*****************************************/




/********** Web improvements *************/
.material-badge {
  background-color: var(--color-volvox);
  padding: 10px 15px;
  border-radius: 50px;
  color: white;
}

#serverAccordion a:focus, #serverAccordion a:hover, #serverAccordion a:active {
  outline: 0;
  text-decoration: none
}
.light-list li {
  padding: 10px;
  border-bottom: 1px solid #c8c8c8;
}
.light-list li:last-child {
  padding: 10px;
  border-bottom: 0;
}
.light-list li:hover{
  background: rgba(255, 255, 255, .3);
}

.add-badge {
  padding: 9px 10px 9px 10px;
  background: var(--color-volvox);
  border-radius: 50%;
  color: white;
}

.add-label {
  padding: 9px 15px;
  background: var(--color-volvox);
  border-radius: 0px 50px 50px 50px
}


/** Settings page**/
.module-enabled-popover {
  color: white;
  font-size: 14px;
  text-align: center;
}
.module-enabled-popover.module-version {
  border-radius: 3px 3px 0 0;
  background: #0fb623;
}
.module-enabled-popover.module-version.skyblue-popover {
  background: #2C94CE;
}
.module-enabled-popover.module-version.danger-popover {
  background: #8C8C8C;
}


/* Home */
.home-header {
  min-height: 70vh;
  background: url('/images/hex-grid.jpg') no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.home-header .image-shadow{
  position: relative;
  z-index: 1;
}

.home-header .image-shadow::before {
  content: '';
  position: absolute;
  background: white;
  width: 300%;
  height: 200%;
  opacity: .4;
  bottom: -10%;
  left: -89%;
  transform: rotate(-50deg);
  z-index: -1;
  pointer-events: none;
}

.home-header::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: .3;
  background: black;
}

.section-spacing{
  padding: 40px 0 70px;
}

.underline-left{
  position: relative;
  display: table;
  margin-bottom: 15px;
}
.underline-left::after {
  content: '';
  position: absolute;
  width: 50%;
  height: 3px;
  background: var(--color-volvox);
  bottom: -7px;
  left: 0;
  border-radius: 2px;
}


/**Z-index issue headway*/
#HW_frame_cont.HW_visible{
  z-index: 100000;
}
#changelog-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
#changelog #HW_badge_cont {
  position: absolute;
  width: 100%;
  height: 100%;
}

#changelog #HW_badge {
  left: 17px
}

/******* Footer ********/
.footer-icon {
  width: 40px;
  height: 40px;
  justify-content: center;
  border: 2px solid var(--color-volvox);
  color: white;
  transition: .5s;
}

.footer-icon:hover{
  background: none;
  color: var(--color-volvox);
}

@media screen and (max-width: 991px) {
  #themeToggler {
    display: none;
  }
}

@media screen and (max-width: 575px) {
  .material-badge {
    display: block;
    margin-bottom: 10px;
  }
  .home-header {
    min-height: 50vh;
  }
  #HW_frame_cont {
    width: calc(100% - 20px) !important;
    margin: 0 10px;
  }
}
