body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/**************** Margins ****************/
.vertical-margin-large {
    margin: 40px 0;
}

.vertical-margin-medium {
    margin: 20px 0;
}

.small-margin-right {
  margin: 0 20px 0 0;
}

/*****************************************/

/********** Varying font sizes ***********/

.font-size-massive {
    font-size:150px;
}

.font-size-large {
    font-size: 60px;
}

.font-size-medium {
    font-size: 30px;
}

.font-size-small {
    font-size: 20px;
}

.font-size-tiny {
    font-size: 12px;
}

/*****************************************/

.home-page-cards {
    margin-top: 30px;
}

/************ Toggle Switch *************/

.switch {
  display: inline-block;
  height: 26px;
  position: relative;
  width: 50px;
}

.switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .2s;
}

.slider:before {
  background-color: #fff;
  bottom: 3px;
  content: "";
  height: 20px;
  left: 4px;
  position: absolute;
  transition: .2s;
  width: 20px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*****************************************/

/************ Guild Dropdown *************/

.dropdown-image-small {
  height: 32px;
  width: 32px;
  margin-right: 8px;
  border-radius: 3px;
  border: 2px rgba(0,0,0,.15) solid;
}

.dropdown-item-container {
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}

/*****************************************/
