body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/***** Varying vertical margin sizes *****/
.vertical-margin-large {
    margin: 40px 0;
}
.vertical-margin-medium {
    margin: 20px 0;
}
/*****************************************/

/********** Varying font sizes ***********/

.font-size-massive {
    font-size:150px;
}

.font-size-large {
    font-size: 60px;
}

.font-size-medium {
    font-size: 30px;
}

.font-size-small {
    font-size: 20px;
}

.font-size-tiny {
    font-size: 12px;
}

/*****************************************/

/*
 * Globals
 */
/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritance from `body` */
    background-color: #fff;
    border: .05rem solid #fff;
}

.home-page-cards {
    margin-top: 30px;
}