@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model AuthenticationScheme[]

@{
    var returnUrl = @HttpContextAccessor.HttpContext.Request.Query["ReturnUrl"];
}


<div class="jumbotron">
    <h1>Authentication</h1>
    <p class="lead text-left">Sign in using one of these external providers:</p>

    @foreach (var scheme in Model)
    {
        <form action="/signin" method="post">
            <input type="hidden" name="Provider" value="@scheme.Name" />
            <input type="hidden" name="ReturnUrl" value="@returnUrl" />

            <button class="btn btn-lg btn-success" type="submit">Connect using @scheme.DisplayName</button>
        </form>
    }
</div>