@model Volvox.Helios.Web.ViewModels.PollModule.NewPollViewModel
@{
    ViewData["Title"] = "New Poll";
}

<h2>New Poll</h2>
<hr />

<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div class="row">
                <div class="col-md-6">
                    <label asp-for="ChannelId"></label>
                    <span asp-validation-for="ChannelId" class="text-danger"></span>
                    <input type="hidden" name="ChannelId"  />
                    <div id="channelSelect"></div>
                    @*<label asp-for="ChannelId"></label>
                <select asp-for="ChannelId" asp-items="Model.Channels" id="channels" class="form-control"></select>
                <span asp-validation-for="ChannelId" class="text-danger"></span>*@
                </div>
                <div class="col-md-6">
                    <label asp-for="Title"></label> <br />
                    <input asp-for="Title" type="text" class="form-control material-input" autocomplete="off"/>
                    <span asp-validation-for="Title" style="color:red"></span>
                </div>
            </div>

            <div class="options mt-3">
                <div class="row">
                    <label class="col-12">Option 1</label>
                    <div class="col-md-11">
                        <input name="options[0]" maxlength="100" type="text" class="form-control material-input" autocomplete="off" />
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="btn btn-volvox-outline rounded-circle d-block mx-auto" style="height: 40px;" onclick="addPollOption(event)">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                </div>
            </div>

            <input type="hidden" asp-for="TotalOptions" value="@Model.TotalOptions" />

            <div class="col-12">
                <div class="row mt-4">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="ml-auto">
                        <button type="submit" class="btn btn-volvox-outline pr-4 pl-4" style="border-radius:20px;">Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        var selectChannelVal = '@Model.ChannelId';
        if (selectChannelVal == '0')
            selectChannelVal = '@Model.Channels.FirstOrDefault().Value';
        
        $("#channelSelect").dxSelectBox({
            dataSource: JSON.parse('@(Html.Raw(Json.Serialize(Model.Channels)))'),
            valueExpr: "value",
            displayExpr: "text",
            value: selectChannelVal,
            searchEnabled: true,
            onInitialized: (e) => {
                $('input[name="ChannelId"]').val(selectChannelVal);
            },
            onValueChanged: (e) => {
                $('input[name="ChannelId"]').val(e.value);
            }
        });
        
        function addPollOption(e) {
            var options = $('.options').find('.row').length + 1;
            if (options <= 10) {
                console.log($('.options .row')[options - 2], options - 2);
                $(e.currentTarget).parent().remove();
                $($('.options .row')[options - 2]).find('.col-md-11').toggleClass('col-md-11 col-12');
                $('.options').append(`
                <div class="row mt-3">
                    <label class="col-12">Option ${options}</label>
                    <div class="col-md-11">
                        <input name="options[${options - 1}]" maxlength="100" type="text" class="form-control material-input" autocomplete="off" />
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="btn btn-volvox-outline rounded-circle d-block mx-auto" style="height: 40px;" onclick="addPollOption(event)">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                </div>
            `);
            }
        }
    </script>
}