@model Volvox.Helios.Web.ViewModels.PollModule.NewPollViewModel
@{
    ViewData["Title"] = "New Poll";
}


<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="ChannelId"></label>
                <select asp-for="ChannelId" asp-items="Model.Channels" id="channels" class="form-control"></select>
                <span asp-validation-for="ChannelId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Title"></label> <br />
                <input asp-for="Title" type="text" class="form-control" />
                <span asp-validation-for="Title" style="color:red"></span>
            </div>

            <input type="hidden" asp-for="TotOptions" value="@Model.TotOptions" />

            @for (int i = 0; i < Model.TotOptions; i++)
            {
                <div class="form-group">
                    <label> Option @i</label>
                    <br />
                    <input name="options[@i]" maxlength="100" type="text" class="form-control" />
                </div>
            }

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


