@model Volvox.Helios.Web.ViewModels.Poll.ViewPollsViewModel
@{
    ViewData["Title"] = "View Polls";
}

<h2>My Polls</h2>
<hr />

<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div class="form-group">
                <label asp-for="Polls"></label>
                <select asp-items="Model.Polls" id="poll" class="form-control">
                    <option disabled selected> -- select a poll -- </option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="Title" class="font-size-small"></label>
                <p id="Title"></p>
            </div>

            <br />

            <div class="form-group">
                <label asp-for="Options" class="font-size-small"></label>
                <div id="Options"></div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        function GetPollDetails(channelId, messageId) {
            const url = `/api/GetPollData?channelId=${channelId}&messageId=${messageId}`;
            return $.ajax({
                type: 'GET',
                cache: false,
                url: url
            }).done(function (response) {
                return response;
            });
        }

        function RemoveLeadingEmoticon(text) {
            return text.trim().substr(text.indexOf(" ") + 1)
        }

        $("#poll").on('change', function () {
            var Ids = $('#poll').val().split("-");
            var messageId = Ids[0];
            var channelId = Ids[1];

            $.when(GetPollDetails(channelId, messageId)).done(function (response) {
               

                $("#Title").text(RemoveLeadingEmoticon(response.title));
                $("#Options").empty();

                $.each(response.options, function (i, option) {
                    console.log(option);
                    $("#Options").append($("<p></p>").text(RemoveLeadingEmoticon(option.option) + " : " + option.voteCount));
                })
            });
        });
    </script>
}