@{
    ViewData["Title"] = "404 - Not Found";
}

<div id="ErrorContainer" class="vertical-margin-large text-center">
    <i class="vertical-margin-medium font-size-massive far fa-dizzy"></i>
    <br />
    <b>
        <label class="font-size-large">
            404
        </label>
        <br />
        <label class="vertical-margin-medium font-size-medium">
            Oops! Nothing to see here!
        </label>
    </b>
</div>

