
@{
    ViewData["Title"] = "Example";
}

    <nav id="serverbar">
        <img src="~/images/corgi_vector_128.png" alt="Placeholder" width="64" class="img-server-icon" >
        <img src="~/images/corgi_vector_128.png" alt="Placeholder" width="64" class="img-server-icon" >
        <img src="~/images/corgi_vector_128.png" alt="Placeholder" width="64" class="img-server-icon" >
    </nav>


<div id="wrapper">
    

    <nav id="modulebar">
        <h5 class="text-center">Current Modules</h5>

        <button type="button" class="btn btn-link btn-block" data-toggle="collapse" data-target="#StreamRole" aria-expanded="false" aria-controls="StreamRole" >Stream Role</button>

        <button type="button" class="btn btn-link btn-block" data-toggle="collapse" data-target="#StreamAnnouncer" aria-expanded="false" aria-controls="StreamAnnouncer" >Stream Announcer</button>
        <button type="button" class="btn btn-link btn-block" data-toggle="collapse" data-target="#Example2" aria-expanded="false" aria-controls="Example2" >Example2</button>

    </nav>

</div>