@{
    ViewData["Title"] = "Home";
}

<div class="row">
    <div class="col-12">
        <div class="text-center">
            <img class="home-page-banner" src="images/large/volvox-combination-mark.png" alt="Volvox.Helios" />
        </div>
    </div>
</div>

<div class="row home-page-cards">
    <div class="col-sm">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Easy to Get Started</h5>
                <p class="card-text">You can literally get this bot running with one button.</p>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Modular</h5>
                <p class="card-text">Volvox.Helios is built as a modular bot. Enable and disable modules as you see fit.</p>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Customizable</h5>
                <p class="card-text">Customize any module any way that you want.</p>
            </div>
        </div>
    </div>
</div>