@{
    ViewData["Title"] = "Privacy Policy";
}

<h2>@ViewData["Title"]</h2>
<hr />

<p>By using this website, you agree to our use of cookies and to the use of Discords cookie policy. We only store essential authentication cookies.</p>