
@{
    ViewData["Title"] = "Management Portal";
    Layout = "_ManagementLayout";
}

<div class="col-12">

    <h5 class="text-center"> Volvox Helios Management Portal</h5>
    
    <h5>Welcome!</h5>
    <p> The team behind Volvox Helios is happy that you are here #DiscordUserNameHere#!
        Thank you for letting us be the one to make your Discord Server a better place. #EmojiHere?#  
    </p>

    <br>

    <h5>Getting Started</h5>
    <p>
        To get started you should see the servers that you are an administrator of on the far left.
        To the right of the server icons you will see the list of available modules brought to you by our team. 
        We will add more in the future so make sure you check in regularly.
    </p>
    
</div>