
@{
    ViewData["Title"] = "Poll Manager Module";
    Layout = "_ManagementLayout";
}

<div class="col-12">

    <h5 class="text-center">Poll Manager</h5>

    <div class="card background-dark2">
        <h5 class="card-header text-center color-disabled">Description</h5>
        <div class="card-body">
            <p class="card-text">
                With this module you are able to announce to a defined text channel when someone on the server goes live on Twitch.
            </p>
        </div>
    </div>
</div>
