
@{
    ViewData["Title"] = "Remembot Module";
    Layout = "_ManagementLayout";
}

<div class="col-12">

    <h5 class="text-center">Remembot</h5>
    <h5 class="italics">Let us send the reminders so you don't have to</h5>
</div>
