@model IEnumerable<Volvox.Helios.Domain.Discord.Guild>

<div class="row pt-5 pb-5" style="background: rgba(0,0,0,.4);">
    <div class="container">
        <h1 class="text-center">Dashboard</h1>
        <div class="lines">//</div>
    </div>
</div>