@model Volvox.Helios.Domain.Discord.Guild

@if (!Model.Details.IsBotInGuild)
{
    <a asp-controller="Settings" asp-action="Index" asp-route-guildId="@Model.Id"><i class="fas fa-plus"></i> Add Bot to Server</a>
}

else
{
    <div>
        Member Count: @Model.Details.MemberCount
    </div>
    <div>
        Role Count: @Model.Details.Roles.Count
    </div>
    <div>
        Channel Count: @Model.Details.Channels.Count
    </div>
}