@model Volvox.Helios.Web.Models.Moderation.PunishmentModel
@{
    ViewData["Title"] = "New Punishment";
}

<div class="breadcrumb-wrapper col-12">
    <nav aria-label="breadcrumb" class="container">
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a asp-controller="Moderation" asp-action="Index" class="text-volvox">Moderation</a></li>
            <li class="breadcrumb-item"><a asp-controller="Moderation" asp-action="punishments" class="text-volvox">Punishments</a></li>
            <li class="breadcrumb-item active" aria-current="page">New Punishment</li>
        </ol>
    </nav>
</div>

<form method="POST">
    <section class="container">
        <div class="vertical-margin-large">
            <table asp-for="Punishments">

                <colgroup>
                    <col span="6" style="border:1px solid black" />
                </colgroup>

                <thead>
                    <tr>
                        <td>Punishment Type</td>
                        <td>Duration (mins, 0 = Forever) </td>
                        <td>Warning Type</td>
                        <td>Warning Threshold</td>
                        <td>Role</td>
                    </tr>
                </thead>

                <tbody id="PunishmentTableBody">
                    @{
                        <partial name="_PunishmentRow" model="Model" />
                    }
                </tbody>
            </table>
        </div>
    </section>
    <div class="form-group">
        <input type="submit" value="Add" class="btn btn-success" />
    </div>
</form>

@section Scripts {
    <script>
        $('main').removeClass('container').addClass('p-0 mt-0');
    </script>
}