@model Volvox.Helios.Web.Models.Moderation.PunishmentModel

<form method="POST">
    <section class="container">
        <div class="table table-responsive">
            <table asp-for="Punishments" class="table table-responsive table-striped table-bordered">

                <thead>
                    <tr>
                        <td>Punishment Type</td>
                        <td>Punishment Duration mins</td>
                        <td>Warning Type</td>
                        <td>Warning Threshold</td>
                        <td>Role</td>
                    </tr>
                </thead>

                <tbody id="PunishmentTableBody">
                    @{
                        <partial name="_PunishmentRow" for="@Model"/>
                    }
                </tbody>   
            </table>
        </div>
    </section>
    <div class="form-group">
        <input type="submit" value="Add" class="btn btn-success" />
    </div>
</form>
