@model Volvox.Helios.Web.Models.Moderation.PunishmentModel

<form method="POST">
    <section class="container">
        <div class="vertical-margin-large">
            <table asp-for="Punishments">

                <colgroup>
                    <col span="6" style="border:1px solid black"/>
                </colgroup>

                <thead>
                    <tr>
                        <td>Punishment Type</td>
                        <td>Duration (mins)</td>
                        <td>Warning Type</td>
                        <td>Warning Threshold</td>
                        <td>Role</td>
                    </tr>
                </thead>

                <tbody id="PunishmentTableBody">
                    @{
                        <partial name="_PunishmentRow" model="Model"/>
                    }
                </tbody>   
            </table>
        </div>
    </section>
    <div class="form-group">
        <input type="submit" value="Add" class="btn btn-success" />
    </div>
</form>
