@model Volvox.Helios.Web.Models.Moderation.PunishmentModel
@{
    ViewData["Title"] = "New Punishment";
}

<div class="breadcrumb-wrapper col-12">
    <nav aria-label="breadcrumb" class="container">
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a asp-controller="Moderation" asp-action="Index" class="text-volvox">Moderation</a></li>
            <li class="breadcrumb-item"><a asp-controller="Moderation" asp-action="punishments" class="text-volvox">Punishments</a></li>
            <li class="breadcrumb-item active" aria-current="page">New Punishment</li>
        </ol>
    </nav>
</div>

<form method="POST" class="container mt-4">
    <h2>Add a new Punishment</h2>
    <hr />
    <div class="col-12 mt-4 border border-gray2 rounded">
        <label>Punishment Type</label>
        @Html.DropDownListFor(m => m.PunishType, Html.GetEnumSelectList<Volvox.Helios.Domain.Module.ModerationModule.Common.PunishType>())
    </div>
    <div class="col-12 mt-4 border border-gray2 rounded">
        Duration (mins, 0 = Forever)
        <input type="number" asp-for="PunishDuration" value="0" min="0" step="1" max="2147483647" class="form-control" />
    </div>
    <div class="col-12 mt-4 border border-gray2 rounded">
        Warning Type
        @Html.DropDownListFor(m => m.WarningType, Html.GetEnumSelectList<Volvox.Helios.Domain.Module.ModerationModule.Common.FilterType>())
    </div>
    <div class="col-12 mt-4 border border-gray2 rounded">
        Warning Threshold
        <input type="number" asp-for="WarningThreshold" value="1" min="1" step="1" max="2147483647" class="form-control" />
    </div>
    <div class="col-12 mt-4 border border-gray2 rounded">
        Role
        <select asp-for="RoleId" asp-items="Model.Role"></select>
    </div>
    @Html.HiddenFor(m => m.PunishmentId)
    <div class="row mt-4">
        <div class="col-12 d-flex flex-wrap">
            <button type="submit" class="ml-auto btn btn-volvox-outline save-btn">Save</button>
        </div>
    </div>
</form>

@section Scripts {
    <script>
        $('main').removeClass('container').addClass('p-0 mt-0');
    </script>
}