@model Volvox.Helios.Web.ViewModels.Moderation.PunishmentsViewModel

<form method="POST">
    <section class="container">
        <div class="vertical-margin-large">
            <table asp-for="Punishments" style="width: 100%">

                <thead>
                    <tr>
                        <td>Punishment Type</td>
                        <td>Duration (mins)</td>
                        <td>Warning Type</td>
                        <td>Warning Threshold</td>
                        <td>Role</td>
                        <td>Remove</td>
                    </tr>
                </thead>

                <tbody id="PunishmentTableBody">
                    @{
                        var i = 0;
                        foreach (var punishment in Model.Punishments)
                        {
                            Html.ViewData.TemplateInfo.HtmlFieldPrefix = $"Punishments[{i}]";
                            <partial name="_PunishmentRowReadonly" , model="punishment" />
                            i++;
                        }
                    }
                </tbody>
                <tfoot>
                    <tr></tr>
                </tfoot>
            </table>
        </div>
    </section>
    <div class="form-group">
        <button id="RemoveSelected" class="btn btn-danger" data-toggle="tooltip" data-original-title="Add more controls"><i class="glyphicon glyphicon-plus-sign"></i>Remove Selected</button>
    </div>

    <div class="form-group">
        <a class="btn btn-primary" href="newpunishment">Add New</a>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<style>
    .table-remove {
        color: #700;
        cursor: pointer;
    }

    table-remove:hover {
        color: #f00;
    }
</style>