@model Volvox.Helios.Web.ViewModels.Moderation.UsersViewModel

<h2>Users</h2>
<hr />
@{

    foreach (var user in Model.Users)
    {
        <div class="settings-group">
            <img src="@user.AvatarUrl" class="dropdown-image-small" />
            <a asp-controller="Moderation" asp-action="user" asp-route-userId="@user.Id">@user.Username</a>
        </div>
    }
}


