@model Volvox.Helios.Web.ViewModels.ReactionRoles.ReactionRolesEditViewModel
@{
    ViewData["Title"] = Model.IsEdit ? "Edit Reaction Role Post" : "Add Reaction Role Post";
}

<h2>@ViewData["Title"]</h2>
<hr>
