@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="18JHtM67T9ZVSSo1HwwLB5r8lghAxcJba3RRZb3r_Lg" />
    <meta property="og:title" content="Volvox.Helios" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.volvox.tech/" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:image" content="http://www.volvox.tech/images/volvox.png" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="300" />
    <meta property="og:description" content="A powerful, community built discord bot." />
    <title>@ViewData["Title"] - Volvox.Helios</title>

    <environment include="Development">  
        <link rel="stylesheet" href="~/vendor.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/management.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              asp-fallback-href="~/vendor.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/management.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    </environment>
    <link rel="icon" type="image/x-icon" href="~/images/volvox.png">
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark background-dark1 fixed-top">
        <div class="container">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Volvox.Helios</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    @await Html.PartialAsync("_NavigationPartial")
                </ul>
                <ul class="navbar-nav ml-auto">
                    @await Html.PartialAsync("_LoginNavigationPartial")
                </ul>
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />
    
    <!-- We will load server icons here
    <div id="sidebar-wrapper">
        <img src="~/images/corgi_vector_128.png" alt="Placeholder" width="64" class="rounded-circle server-img" >
        <img src="~/images/corgi_vector_128.png" alt="Placeholder" width="64" class="rounded-circle server-img" >
        <img src="~/images/corgi_vector_128.png" alt="Placeholder" width="64" class="rounded-circle server-img" >
        <img src="~/images/corgi_vector_128.png" alt="Placeholder" width="64" class="rounded-circle server-img" >
        <img src="~/images/corgi_vector_128.png" alt="Placeholder" width="64" class="rounded-circle server-img" >
        <img src="~/images/corgi_vector_128.png" alt="Placeholder" width="64" class="rounded-circle server-img" >
        <img src="~/images/corgi_vector_128.png" alt="Placeholder" width="64" class="rounded-circle server-img" >
        <img src="~/images/corgi_vector_128.png" alt="Placeholder" width="64" class="rounded-circle server-img" >
        <img src="~/images/corgi_vector_128.png" alt="Placeholder" width="64" class="rounded-circle server-img" >
        <img src="~/images/corgi_vector_128.png" alt="Placeholder" width="64" class="rounded-circle server-img" >
        <img src="~/images/corgi_vector_128.png" alt="Placeholder" width="64" class="rounded-circle server-img" >
        <img src="~/images/corgi_vector_128.png" alt="Placeholder" width="64" class="rounded-circle server-img" >
        <img src="~/images/corgi_vector_128.png" alt="Placeholder" width="64" class="rounded-circle server-img" >
        <img src="~/images/corgi_vector_128.png" alt="Placeholder" width="64" class="rounded-circle server-img" >
        <img src="~/images/corgi_vector_128.png" alt="Placeholder" width="64" class="rounded-circle server-img" >

    </div>
    -->

    <!-- Load the current modules here -->
    <div id="modulebar-wrapper">


        <a class="collapsed btn btn-block btn-module" role="button" data-toggle="collapse" href="#collapseListGroup1" aria-expanded="false" aria-controls="collapseListGroup1">
            Available Servers
        </a>
        <div id="collapseListGroup1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading1">
            <button type="button" class="btn btn-block btn-module">
                <img src="~/images/corgi_vector_128.png" alt="Placeholder" width="32" class="rounded-circle">
                <a href="$LoadServer01">Server01</a>
            </button>
            <button type="button" class="btn btn-block btn-module">
                <img src="~/images/corgi_vector_128.png" alt="Placeholder" width="32" class="rounded-circle">
                <a href="$LoadServer01">Server02</a>
            </button>
            <button type="button" class="btn btn-block btn-module">
                <img src="~/images/corgi_vector_128.png" alt="Placeholder" width="32" class="rounded-circle">
                <a href="$LoadServer01">Server03</a>
            </button>
        </div>

        <!--
        <div class="panel-group" role="tablist">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="collapseListGroupHeading1">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" href="#collapseListGroup1" aria-expanded="false" aria-controls="collapseListGroup1">
                            Available Servers
                        </a>
                    </h4>
                </div>

            </div>
        </div>
            -->

        <a asp-controller="Management" asp-action="StreamRole" class="btn btn-block btn-module" role="button">Stream Role</a>
        <a asp-controller="Management" asp-action="StreamAnnouncer" class="btn btn-block btn-module" role="button">Stream Announcer</a>
        <a asp-controller="Management" asp-action="ChatTracker" class="btn btn-block btn-module" role="button">Chat Tracker</a>
        <a asp-controller="Management" asp-action="Remembot" class="btn btn-block btn-module" role="button">Remembot</a>
        <a asp-controller="Management" asp-action="PollManager" class="btn btn-block btn-module" role="button">Poll Manager</a>

    </div>

    <div class="container-fluid container-management">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb background-dark2">
                <li class="breadcrumb-item"><a href="#">Server: Corgi Bar and Lounge</a></li>
                <li class="breadcrumb-item active" aria-current="page">Library</li>
            </ol>
        </nav>

        @RenderBody()
        <br>

        <p>&copy; 2018 - Volvox.Helios</p>
    </div>

    <environment include="Development">
        <script src="~/vendor.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/vendor.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                asp-fallback-src="~/vendor.min.js"
                crossorigin="anonymous"
                integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                asp-fallback-src="~/vendor.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
    <script>
        $('#settingsNavDropdown').click(() => {
            $('#settingsDropDown').populateSettings();
        });

        $('#analyticsNavDropdown').click(() => {
            $('#analyticsDropDown').populateAnalytics();
        });

    </script>
</body>
</html>