<li class="nav-item active"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
<li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Settings" asp-action="StreamAnnouncerSettings">Settings</a></li>

@if (User?.Identity?.IsAuthenticated ?? false)
{
    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Authentication" asp-action="SignOut">Log Out</a></li>
}

else
{
    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Authentication" asp-action="SignIn">Login</a></li>
}